*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background: #f3ad5ead;
  color: white;
  overflow-x: hidden;
  padding-left: 0px; 
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(94, 93, 93, 0);
  z-index: -1;
}

.hero h1 {
  font-size: 48px;
}

.explore-btn {
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #eebe97;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

.menu-btn {
  width: 20px;
  height: 60px;
  font-size: 26px;
  border-radius: 20px;
}

#menu.collapse:not(.show) {
  display:none;
  width: 10px;
}

.list-group-item {
  background: #22222200;
  border: none;
}

.list-group-item a {
  color: white;
  text-decoration: none;
  display: block;
}

.list-group-item a:hover {
  background: #eebe97;
  color:grey;
  padding-left: 5px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.card-group {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px auto;
}

.card {
  width: 230px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  background: #f8a26885;
}

.card img,
.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.card .layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 0;
  transition: 0.3s;
}

.card .info {
  position: absolute;
  bottom: -60%;
  padding: 15px;
  color: white;
  opacity: 0;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .layer,
.card:hover .info {
  opacity: 1;
  bottom: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 80px auto;
}

.card-3d {
  width: 280px;
  height: 380px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-3d:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-front h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 10px;
}

.card-back {
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  transform: rotateY(180deg);
}